@media screen and (max-width:1200px){
    body{background-color: #00ff58;}
}/*max-width:1200px*/


@media screen and (max-width:1100px){
    body{background-color: #0c3e4a;}
}/*max-width:1100px*/


@media screen and (max-width:1024px){
    body{background-color: #a50013;}
}/*max-width:1024px*/


@media screen and (max-width:992px){
    body{background-color: #0089ff;}
}/*max-width:992px*/


@media screen and (max-width:991px){
    body{background-color: #e82cda;}
}/*max-width:991px*/


@media screen and (max-width:768px){
    body{background-color: #691d46;}
}/*max-width:768px*/


@media screen and (max-width:767px){
    body{background-color: yellow;}
}/*max-width:767px*/


@media screen and (max-width: 640px){
    body{background-color: blue;}
}/*max-width:640px*/


@media screen and (max-width: 480px){
	    body{background-color: green;}
}/*max-width:480px*/


@media screen and  (max-width: 320px){
	body{background-color: red;}
}/*max-width:320px*/

